body {
	background: #ccc;
	max-width: 900px;
	margin: auto;
}
#Title, .Subtitle, .post_title {
	color: blue;
}

.post_title{
	font-size: 14px;
	font-style: bold;
	font-family: Verdana, Arial;
	margin: 0;
	margin-bottom: 15px;
	text-decoration: underline;
	text-transform: uppercase;
}

.post {
	background: #fff;
	font-size: 12px;
	padding: 10px;
	border: 3px solid #000;
	margin: 10px;
	border-radius: 7px;
	font-family: Verdana, Arial;
	text-align: center;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	font-family: Verdana, Arial;
	text-align: center;
	
}

.image {
	margin-bottom: 15px;
	width:70%;
}

.list li a {
	list-style-type: square;
	text-decoration: none;
	
}